<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}{{ .Suffix }}</title>
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/content.css" />
    <link rel="stylesheet" href="/styles/explorer.css" />
    {{ if .HasKatex }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.css"
      integrity="sha384-Pu5+C18nP5dwykLJOhd2U4Xen7rjScHN/qusop27hdd2drI+lL5KvX7YntvT8yew"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.js"
      integrity="sha384-2B8pfmZZ6JlVoScJm/5hQfNS2TI/6hPqDZInzzPc8oHpN5SgeNOf4LzREO6p5YtZ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/contrib/auto-render.min.js"
      integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
          delimiters: [
            { left: "$$", right: "$$", display: true },
            { left: "$", right: "$", display: false },
            { left: "\\(", right: "\\)", display: false },
            { left: "\\[", right: "\\]", display: true },
          ],
          throwOnError: false,
        });
      });
    </script>
    {{ end }}
  </head>
  <body>
    <header class="left-sidebar">
      <div class="logo">
        <a href="/">{{ .Name }}</a>
      </div>
      <div class="utilities">
        <button class="search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="search-icon"
          >
            <path d="m21 21-4.34-4.34" />
            <circle cx="11" cy="11" r="8" />
          </svg>
          <span>Search</span>
        </button>
        <button class="theme-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="sun-icon"
          >
            <circle cx="12" cy="12" r="4" />
            <path d="M12 2v2" />
            <path d="M12 20v2" />
            <path d="m4.93 4.93 1.41 1.41" />
            <path d="m17.66 17.66 1.41 1.41" />
            <path d="M2 12h2" />
            <path d="M20 12h2" />
            <path d="m6.34 17.66-1.41 1.41" />
            <path d="m19.07 4.93-1.41 1.41" />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="moon-icon"
          >
            <path
              d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"
            />
          </svg>
        </button>
      </div>
      <nav>
        <span>Explorer</span>
        {{ .Explorer }}
      </nav>
    </header>
    <main class="content">
      <article>
        <h1>{{.Title}}</h1>
        <div class="metadata">
          <p>{{ .WordCount }} characters</p>
          <p>{{ .ReadingTime }} minutes</p>
          {{.Tags}}
        </div>
        {{ .Content }}
      </article>
    </main>

    <aside class="right-sidebar">
      <div class="graph">
        <span>Graph</span>
        {{ .Graph }}
      </div>
      <div class="toc">
        <span>Table of Contents</span>
        {{ .Toc }}
      </div>
      <div class="outgoingLinks">
        <span>Outgoing Links</span>
        {{ .OutgoingLinks }}
      </div>
      <div class="backlinks">
        <span>Backlinks</span>
        {{ .Backlinks }}
      </div>
    </aside>

    <footer class="footer">
      <div class="socials">{{ .Socials }}</div>
      <div class="copyright">
        Powered by <a href="https://github.com/artsbymat/geode">Geode</a>
      </div>
    </footer>

    {{ if .LiveReload }}
    <script>
      const evtSource = new EventSource("/_reload");
      evtSource.onmessage = function () {
        location.reload();
      };

      window.addEventListener("beforeunload", () => {
        evtSource.close();
      });
    </script>
    {{ end }} {{ if .HasTwitter }}
    <script>
      (function () {
        if (window.twttr && window.twttr.widgets) return;
        if (
          document.querySelector(
            'script[src="https://platform.twitter.com/widgets.js"]',
          )
        )
          return;
        const s = document.createElement("script");
        s.async = true;
        s.src = "https://platform.twitter.com/widgets.js";
        s.charset = "utf-8";
        document.body.appendChild(s);
      })();
    </script>
    {{ end }} {{ if .HasMermaid }}
    <script type="module">
      import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11.12.2/+esm";
      const stored = localStorage.getItem("theme");
      if (stored === "light") {
        mermaid.initialize({
          theme: "default",
        });
      } else {
        mermaid.initialize({
          theme: "dark",
        });
      }
    </script>
    {{ end }}
    <script src="/scripts/explorer.js"></script>
    <script src="/scripts/theme-toggle.js"></script>
  </body>
</html>
